
          @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700|Montserrat:700&display=swap');
          
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h3 {
  margin: 5px;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: rgb(72, 72, 116)
}
h1 {
  
  color: rgb(247, 123, 46);
  padding: 10px;
  /* font-family: 'Montserrat Alternates', sans-serif; */
font-family: 'Montserrat', sans-serif;
}
li {
  list-style: none;
  font-style: italic
}
.card {
  background-color: papayawhip;
  margin: 20px;
  margin-top: 5px;
  width: 350px;
  
}
button{
  margin: 10px;
  border-radius: 5%;
  border: solid burlywood 5px;
}
.container {
  background-color: burlywood;
  display : flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}
span{
  float: left;
  margin-left: 50px;
}
header{
  border: solid burlywood .8em;

}
input {
 margin: 10px;

}
form {
  border: solid beige 3px;
  padding: 10px;
  border-radius: 5%;
  margin: 10px;
  font-family: 'Montserrat Alternates', sans-serif; 
}